.commentSection {
    margin: 0 auto;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    max-width: 900px;
    /* padding: 3%; */
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}
/* .commentSection:last-child {
    border-bottom: 1px solid black;
} */
.likes {
    display: flex;
    flex-direction: column;
    /* padding: 20px 0; */
    /* flex-direction: column; */
}
.icons {
    display: flex;
    padding-top: 10px;
    /* justify-content: space-between; */
    /* align-content: space-between; */
}
.numLikes {
    display: flex;
    padding: 7px 0 15px;
    font-size: 14px;
}
.comment {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    /* flex-wrap: wrap; */
}
.commentText {
    overflow-wrap: break-word;
    /* word-wrap: break-word; */
    hyphens: auto;
    padding-left: 1%;
    /* align-items: center; */
}
.commentInput input {
    width: 99%;
    border: none;
    height: 30px;
    font-size: 22px;
    /* padding-left: 1%; */
    border-top: 1px solid black;
    padding-top: 5px;
    padding-bottom: 0;
    /* align-items: center; */
}